h1{
    font-family: Geneva;
    text-decoration: underline; /* try later with weavy*/
}
h3{
    font-family: Geneva;
}

body{
    background-color: #c4a483d7;/* change the body*/
}

header{
    background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
}
body{
    color: white; 
}
/* link style*/
a{
    color: lightseagreen

}